*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Cera pro", sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    height: 100%;
    width: 100%;
}

.header-line{
    display: flex;
    height: 100%;
    justify-content: center;
    border-bottom: 1px #EAECEE solid;

}

.links{
    width: 1448px;
    min-height: 53px;

    align-items: center;

    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(131px, 1fr));
    list-style-type: none;
    text-align: center;
    grid-row-gap: 20px;
}

.link{
    color: #20262D;
    text-decoration: none;
    font-weight: 500;
    opacity: 70%;
    font-size: 15px;
}


@media (min-device-width: 1241px){
    .information-line{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 108px;
    }
    .information{
        height: 100%;
        width: 1448px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .adaptive-element{
        padding-left: 40px; 
        border-left: 1px #EAECEE solid;
    }
}


.logo{

    width: 132px;
    height: 47px;
}


.information input{
    background-color: #EAECEE;
    border: none;
    border-radius: 10px;
    width: 490px;
    height: 48px;
    outline: none;

    float: left;
}

.information input[type=text]{
    font-size: 16px;
    padding-left: 22px;
}

.information input::placeholder{
    position: relative;
    font-size: 15px;
    font-weight: 400;
    opacity: 40%;
    color: #20262D;  
} 

form img{
    position: relative;
    right: 32px;
    top: 16px;
    background: none;
    border: none;
    opacity: 30%;
}

.information li img{
    float: left;
}

.information p{
    text-transform: uppercase;
    float: right;
    position: relative;
    font-size: 14px;
    font-weight: 700;
}

.information a{
    color: black;
    font-weight: 700;
    font-size: 14px;
}

@media (max-device-width: 1240px){

    header{
        padding-bottom: 30px;
    }

    .information-line{
        position: relative;
       
        width: 100%;
        height: 100%;

        align-self: center;
    }
    .information{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .logo{
        position: relative;
        top: 10px;
        justify-content: center;
    }
    .adaptive{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .adaptive-element{
        border: none;
    }
}


/* MAIN STYLES */


main{
    width: 100%;
    height: 100%;
   
    align-items: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats{
    position: relative;
    width: 1448px;
    display: grid;

    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
}



.university-block{
    grid-column: span 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 468px;

    border-radius: 15px;

    background-color: #087aee;
    background-image: url(./images/bg.png);
    background-blend-mode: multiply;

    row-gap: 30px;

}

.university-block h1{
    color: white;
    font-size: 59px;
    font-weight: 700;
}

.about-university{
    position: relative;
    width: 476.74px;
    display: flex;
    justify-content: space-between;
}

.about-university button{
    position: relative;

    background-color: #FFE362;
    display: flex;
    justify-content: space-around;
    height: 46px;
    width: 177.74px;
    border: none;
    align-items: center;
    border-radius: 10px;
}

.facts{
    position: relative;
    background-color: rgba(32, 38, 45, 60%);
    backdrop-filter: blur(5.8px);
    border-radius: 10px;
    color: white;
    padding: 12px 16px 12px 16px;
}

.trial{
    position: relative;
    height: 100%;

    background-repeat: no-repeat;
    background-image: url(./images/bg-trial.png);
    
    background-color: #087AEE;
    background-blend-mode: normal;

    display: flex;
    flex-direction: column;

    border-radius: 15px;
    align-items: center;
    justify-content: end;
}

.btn-trial{
    position: relative;
    bottom: 70px;

    width: 175px;
    height: 56px;

    background-color: #FFE362;
    
    color: #20262D;
    font-size: 16px;
    font-weight: 700;

    border: none;
    border-radius: 10px;
}

.info-university{

    width: 339px;
    height: 468px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));
    grid-gap: 30px;
}

.info-university li{

    height: 94.5px;

    border-radius: 15px;

    padding-left: 30px;

}

.info-university li h3{

    font-size: 26px;
    font-weight: 700;
    
    color: white;
    
    padding-top: 19.75px;
}

.info-university li p{
    font-size: 16px;
    font-weight: 400;

    color: white;
    opacity: 70%;
}


.average-mark{
    position: relative;

    width: 1448px;
    height: 473px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.table{
    width: 1085px;
    height: 135px;

    padding: 40px 323px 40px 40px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(134.43px, 1fr));
    background-color: #EFF7FF;
    border-radius: 10px;

    font-size: 18px;
}

.column{
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}


.column p:nth-child(3){
    color: #20262D;
    font-weight: 700;
}
.average-mark h1{
    
    align-self: flex-start;

    font-size: 45px;
    font-weight: 700;
    bottom: 30px;
}

.table-bg{
    position: absolute;
    align-self: end;
    width: 477px;
    height: 398px;
    z-index: 2;
    
    left: 1076px;
}

.container-categories{
    width: 100%;
    display: flex;
    height: 711px;
    background-color: #EFF7FF;
    justify-content: center;
    align-items: center;
}
.info-categories{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1448px;
    height: 100%;

    background-color: #EFF7FF;

    row-gap: 50px;
}

.caption-line{
    padding-top: 80px;
    display: flex;
    align-items: center;
}

.caption-line h1{
    font-size: 45px;
    font-weight: 700;

    padding-right: 40px;
}

.caption-line p{
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    height: 46px;
    justify-content: center;
    align-items: center;

    padding-left: 16px;
    padding-right: 16px;

}

.grid-line{
    position: relative;

    height: 237px;

    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(181.14px, 1fr));
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 181.14px;
    height: 100%;
    background-color: white;

    border-radius: 15px;

}



.category h1{
    font-size: 18px;
    padding-top: 20px;
}

.category p{
    opacity: 70%;
    padding-top: 4px;
}

.info-line{
    position: relative;
    height: 146px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(602px, 1fr));
}

.info-line p{
    font-size: 18px;
    font-weight: 400;
    color: #20262D;
}

.trial-exam{
    position: relative;
    display: flex;
    width: 602px;
    border-radius: 15px;
    background-color: #087AEE;
    background-image: url(./images/bg-info.png);
    background-blend-mode: soft-light;
    align-items: center;
    justify-content: flex-start;
    grid-row: span 2;
}

.trial-exam h1{
    color: white;
    font-size: 26px;
    font-weight: 700;
    padding-left: 30px;
}

.trial-exam button{
    background-color: #FFE362;
    color: #20262D;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 18px 20px 18px 20px;
    margin-left: 15px;
}

.btn-line{
    position: relative;
    width: 110px;
    height: 36px;
    border: none;
    border-radius: 10px;
    background-color: rgba(8, 122, 238, 5%);
    font-weight: 700;
    font-size: 14px;
    color: #087AEE;
    padding: 8px 12px 8px 12px;

    margin-top: 10px;
}