*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Cera pro", sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    height: 100%;
    width: 100%;
}

.header-line{
    display: flex;
    height: 100%;
    justify-content: center;
    border-bottom: 1px #EAECEE solid;

}

.links{
    width: 1448px;
    min-height: 53px;

    align-items: center;

    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(131px, 1fr));
    list-style-type: none;
    text-align: center;
    grid-row-gap: 20px;
}

.link{
    color: #20262D;
    text-decoration: none;
    font-weight: 500;
    opacity: 70%;
    font-size: 15px;
}


@media (min-device-width: 1241px){
    .information-line{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 108px;
    }
    .information{
        height: 100%;
        width: 1448px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .adaptive-element{
        padding-left: 40px; 
        border-left: 1px #EAECEE solid;
    }
}


.logo{

    width: 132px;
    height: 47px;
}


.information input{
    background-color: #EAECEE;
    border: none;
    border-radius: 10px;
    width: 490px;
    height: 48px;
    outline: none;

    float: left;
}

.information input[type=text]{
    font-size: 16px;
    padding-left: 22px;
}

.information input::placeholder{
    position: relative;
    font-size: 15px;
    font-weight: 400;
    opacity: 40%;
    color: #20262D;  
} 

form img{
    position: relative;
    right: 32px;
    top: 16px;
    background: none;
    border: none;
    opacity: 30%;
}

.information li img{
    float: left;
}

.information p{
    text-transform: uppercase;
    float: right;
    position: relative;
    font-size: 14px;
    font-weight: 700;
}

.information a{
    color: black;
    font-weight: 700;
    font-size: 14px;
}

@media (max-device-width: 1240px){

    .information-line{
        position: relative;
       
        width: 100%;
        height: 100%;
    }
    .information{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .logo{
        position: relative;
        top: 10px;
        justify-content: center;
    }
    .adaptive{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .adaptive-element{
        border: none;
    }
}


/* MAIN STYLES */


main{
    width: 100%;
    height: 100%;
   
    align-items: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats{
    position: relative;
    width: 1448px;
    display: grid;

    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
}



.university-block{
    grid-column: span 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 468px;

    border-radius: 15px;

    background-color: #087aee;
    background-image: url(./images/bg.png);
    background-blend-mode: multiply;

    row-gap: 30px;

}

.university-block h1{
    color: white;
    font-size: 59px;
    font-weight: 700;
}

.about-university{
    position: relative;
    width: 476.74px;
    display: flex;
    justify-content: space-between;
}

.about-university button{
    position: relative;

    background-color: #FFE362;
    display: flex;
    justify-content: space-around;
    height: 46px;
    width: 177.74px;
    border: none;
    align-items: center;
    border-radius: 10px;
}

.facts{
    position: relative;
    background-color: rgba(32, 38, 45, 60%);
    backdrop-filter: blur(5.8px);
    border-radius: 10px;
    color: white;
    padding: 12px 16px 12px 16px;
}

.trial{
    position: relative;
    height: 100%;

    background-repeat: no-repeat;
    background-image: url(./images/bg-trial.png);
    
    background-color: #087AEE;
    background-blend-mode: normal;

    display: flex;
    flex-direction: column;

    border-radius: 15px;
    align-items: center;
    justify-content: end;
}

.btn-trial{
    position: relative;
    bottom: 70px;

    width: 175px;
    height: 56px;

    background-color: #FFE362;
    
    color: #20262D;
    font-size: 16px;
    font-weight: 700;

    border: none;
    border-radius: 10px;
}

.info-university{

    width: 339px;
    height: 468px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));
    grid-gap: 30px;
}

.info-university li{

    height: 94.5px;

    border-radius: 15px;

    padding-left: 30px;

}

.info-university li h3{

    font-size: 26px;
    font-weight: 700;
    
    color: white;
    
    padding-top: 19.75px;
}

.info-university li p{
    font-size: 16px;
    font-weight: 400;

    color: white;
    opacity: 70%;
}


